body {
    background: #fff;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #283032;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}

nav {
    /* background: #eee; */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.nav-header {
    /* background: #eee; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 1rem;
}

.nav-header h1 {
    font-size: 1.5rem;
    /* font-family: 'Galdeano', sans-serif; */
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

/* hide the menu items by default */
.nav-items {
    /* background: #eee; */
    height: 0;
    overflow: hidden;  
    transition: 1s;
    text-align: center;
}

.nav-items li {
    margin-bottom: 10px;
    font-size: 20px;
}

/* insert this class in the ul tag on the click of the hamburger menu icon */
.show-items {
    height: 12rem;
    text-align: center;
    transition: 1s;
}

.introduction {
    /* background: #eee; */
    margin-left: 16px;
}

.about-me {
    margin-left: 16px;
}

.introduction h2 {
    font-size: 30px;
    font-weight: 1000;
}

.footer-content {
    display: flex;
    justify-content: center;
    
    
}

.fab {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 220px;
}

.footer-content p {
    font-size: 20px;
    /* background: #eee; */
    margin-top: 220px; 
}

/* Articles page */

.article-container { 
    margin-left: 16px;
    max-width: 800px;
}

.article-list {
    list-style-type: disc;
}

.article-list li {
    margin-bottom: 20px;
}

.PM-book-list {
    list-style-type: disc;
}

.PM-book-list li{
    margin-bottom: 20px;
}

/* Media query */

@media (min-width: 800px) {


    .nav-toggle {
        display: none;
    }

    .nav-header h1 {
        display: none;
    }

    nav {
        height: 60px;
    }

    .nav-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-items {
        display: flex;
        height: auto;
        align-items: center;
    }

    .nav-items li {
        margin-right: 20px;
    }

    .introduction {
        margin-left: 300px;
        margin-top: 80px;
    }

    .about-me {
        margin-left: 300px;
        margin-top: 40px;
        max-width: 800px;
    }


    .article-container { 
        /* background: #eee; */
        margin-left: 300px; 
        margin-top: 40px;   
    }
}










